.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  opacity: 0.9;
  min-height: 0;
}
