.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-Eph2eYQkLDAS);
  box-shadow: none;
  max-width: 300px;
  cursor: default;
  min-width: 0;
  min-height: 0;
  border-radius: 20px;
  padding: 50px 25px;
}
@media (max-width: 1024px) {
  .freeBox {
    height: 100%;
    max-width: 285px;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    width: 100%;
    min-width: 0;
    padding: 25px;
  }
}
.freeBoxbackground_transparentWhite {
  background: var(--token-bOFM3ntQuIgx);
}
.freeBoxborder_white {
  border: 1px solid var(--token-qI0mz-f3nknW);
}
.iconWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  height: 78px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.iconWrapperalign_center {
  width: 100%;
  min-width: 0;
}
.slotTargetIcon {
  color: var(--token-CtevabluNWTZ);
}
.svg__rx9I {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rhvrG6H0n5Kr);
  text-align: left;
  min-width: 0;
}
.titleWrapperalign_center {
  text-align: center;
}
.text__shUm {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.descriptionWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rhvrG6H0n5Kr);
  text-align: left;
  min-width: 0;
}
.descriptionWrapperalign_center {
  text-align: center;
}
.slotTargetDescription {
  font-size: var(--token-ANYbtRmQZLjc);
  font-weight: 200;
  color: #ffffff;
}
.text__bs9Mu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
