.root:global(.__wab_instance) {
  position: relative;
  background:
    radial-gradient(
        ellipse 50% 50% at 50% 50%,
        var(--token-CtevabluNWTZ) 0%,
        var(--token-fejxM-dhf1NZ) 100%
      )
      0% 0% / 100% 100% repeat,
    var(--token-CtevabluNWTZ);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--token-I-CUhbNsra4O);
  font-size: var(--token-G-QMsCZETdt0);
  line-height: var(--token-iKssAG-AL5Cc);
  outline-style: none;
  text-decoration-line: none;
  justify-self: flex-start;
  width: auto;
  box-shadow:
    inset 2px 2px 1px 0px #ffffff40,
    inset 0px -4px 2px 0px #00000040,
    0px 0px 1px 4px #ffffff33,
    0px 0px 1px 3px #01a8ee1a;
  border-radius: 30px;
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-av5KsWAynlgy);
  outline-offset: 1px;
  outline-color: var(--token-CtevabluNWTZ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  background:
    linear-gradient(#ffffffb3, #ffffffb3),
    radial-gradient(
        ellipse 50% 50% at 50% 50%,
        var(--token-CtevabluNWTZ) 0%,
        var(--token-fejxM-dhf1NZ) 100%
      )
      0% 0% / 100% 100% repeat,
    var(--token-CtevabluNWTZ);
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-C3aC485_zLVG);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-UWuHSQ1OtsDb);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-qsV3TpKqh-_K);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-URyYXJ9Df27K);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-uQE3u2GH-XMK);
}
.roottype_bordered:global(.__wab_instance) {
  box-shadow: none;
  background:
    radial-gradient(ellipse 50% 50% at 50% 50%, #01a8ee33 0%, #03a0e233 100%) 0%
      0% / 100% 100% repeat,
    #01a8ee33;
}
.roottype_bordered[data-hovered]:global(.__wab_instance) {
  background:
    radial-gradient(ellipse 50% 50% at 50% 50%, #01a8ee33 0%, #03a0e233 100%) 0%
      0% / 100% 100% repeat,
    #03a0e2;
}
.roottype_simple:global(.__wab_instance) {
  box-shadow: none;
}
.roottype_simpleTransparent:global(.__wab_instance) {
  background: #01a8ee1a;
  box-shadow: 0px 0px 180px 0px #01a8ee4d;
  border: 1px solid var(--token-CtevabluNWTZ);
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-urNEVaQj5PDF);
  font-size: var(--token-t6442mvPbujF);
  column-gap: var(--token-av5KsWAynlgy);
  row-gap: 0px;
  border-radius: var(--token-B1BD8sl8WhYW);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-t6442mvPbujF);
  line-height: var(--token-urNEVaQj5PDF);
  column-gap: var(--token-B1BD8sl8WhYW);
  row-gap: 0px;
  border-radius: var(--token-B1BD8sl8WhYW);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-C26gYumZqx4M);
  line-height: var(--token-xC6TWuCXGn_T);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-C26gYumZqx4M);
  line-height: var(--token-xC6TWuCXGn_T);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-c5Gjb8TCTaxQ);
  border-radius: 30px;
}
.softBackgroundcolor_neutral {
  background: var(--token-npURlcYIiqhw);
}
.softBackgroundcolor_muted {
  background: var(--token-MYqty8SKbWsN);
}
.softBackgroundcolor_success {
  background: var(--token-3F_hDAcN1fqy);
}
.softBackgroundcolor_warning {
  background: var(--token-jjxb_E50eh0y);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-eFi8Nd20xmPg);
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  background: none;
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-7LYWx9-6qBtH);
  border: 0px solid var(--token-fejxM-dhf1NZ);
}
.bordercolor_neutral {
  border-color: var(--token-hokpySKJGS1g);
}
.bordercolor_muted {
  border-color: var(--token-2pbdFBVxLUMi);
}
.bordercolor_success {
  border-color: var(--token-J0HxRylu6NNK);
}
.bordercolor_warning {
  border-color: var(--token-1NYtAui_yjad);
}
.bordercolor_errorDestructive {
  border-color: var(--token-rZiyEYUvDTZ6);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-radius: 30px;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 30px;
}
.root[data-hovered] .interactionEffect {
  background: var(--token-50KkMO61yAbi);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-5zNG8Xk4W_P2);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-kamfNaKQ3Shi);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__uVFn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  column-gap: var(--token-7LYWx9-6qBtH);
  min-height: 0;
  padding: 17px 30px;
}
.freeBoxtype_simpleTransparent__uVFnxBkYc {
  border-width: 1px;
}
.freeBoxsize_extraSmall__uVFnCzpLw {
  padding: var(--token-B1BD8sl8WhYW) var(--token-7LYWx9-6qBtH);
}
.freeBoxsize_small__uVFnPf6Kh {
  padding: var(--token-7LYWx9-6qBtH) var(--token-bhIJpKlYPwFn);
}
.freeBoxsize_large__uVFnz09Eh {
  padding-top: var(--token-B1BD8sl8WhYW);
  padding-bottom: var(--token-B1BD8sl8WhYW);
}
.freeBoxsize_extraLarge__uVFnlAm5M {
  padding-left: var(--token-95NETPkpVVAf);
  padding-right: var(--token-95NETPkpVVAf);
}
.freeBoxroundedFull__uVFnXEaOe {
  padding-right: var(--token-95NETPkpVVAf);
  padding-left: var(--token-95NETPkpVVAf);
}
.freeBox___49EgS {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___49EgSgo8Sr {
  display: flex;
}
.slotTargetStart {
  color: var(--token-OFB7gyk59ysj);
}
.slotTargetStartcolor_neutral {
  color: var(--token-bEGo7e2whoB2);
}
.slotTargetStartcolor_muted {
  color: var(--token-FyhtYNizbubO);
}
.slotTargetStartcolor_success {
  color: var(--token-6O7zemm0jx8b);
}
.slotTargetStartcolor_warning {
  color: var(--token-3zJ0poCjyBbf);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-k5f6kwAAJmfG);
}
.slotTargetStarttype_bordered {
  color: var(--token-bvyHfxVVzLoX);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-t6442mvPbujF);
}
.slotTargetStartsize_small {
  font-size: var(--token-t6442mvPbujF);
}
.slotTargetStartsize_large {
  font-size: var(--token-C26gYumZqx4M);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-C26gYumZqx4M);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-9y7-oS57eYQJ);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-qTQm7zAb39nL);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token--ZFOvbvfkNvI);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-FWtbBcVieqVh);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-RnAk-mJNj6Y1);
}
.svg__diuhj {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-bEGo7e2whoB2);
  font-size: 18px;
  white-space: pre;
}
.slotTargetLabelcolor_neutral {
  color: var(--token-bEGo7e2whoB2);
}
.slotTargetLabelcolor_muted {
  color: var(--token-FyhtYNizbubO);
}
.slotTargetLabelcolor_success {
  color: var(--token-6O7zemm0jx8b);
}
.slotTargetLabelcolor_warning {
  color: var(--token-3zJ0poCjyBbf);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-k5f6kwAAJmfG);
}
.slotTargetLabeltype_simpleTransparent {
  color: var(--token-CtevabluNWTZ);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-9y7-oS57eYQJ);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-qTQm7zAb39nL);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token--ZFOvbvfkNvI);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-FWtbBcVieqVh);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-RnAk-mJNj6Y1);
}
.freeBox___9IoI {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___9IoI4SqH3 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-OFB7gyk59ysj);
}
.slotTargetEndcolor_neutral {
  color: var(--token-bEGo7e2whoB2);
}
.slotTargetEndcolor_muted {
  color: var(--token-FyhtYNizbubO);
}
.slotTargetEndcolor_success {
  color: var(--token-6O7zemm0jx8b);
}
.slotTargetEndcolor_warning {
  color: var(--token-3zJ0poCjyBbf);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-k5f6kwAAJmfG);
}
.slotTargetEndtype_bordered {
  color: var(--token-bvyHfxVVzLoX);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-t6442mvPbujF);
}
.slotTargetEndsize_small {
  font-size: var(--token-t6442mvPbujF);
}
.slotTargetEndsize_large {
  font-size: var(--token-C26gYumZqx4M);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-C26gYumZqx4M);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-9y7-oS57eYQJ);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-qTQm7zAb39nL);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token--ZFOvbvfkNvI);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-FWtbBcVieqVh);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-RnAk-mJNj6Y1);
}
.svg__gzmHf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
