.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
}
.sections {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  row-gap: 150px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sections {
    row-gap: var(--token-Cj4iGZmtnwy1);
    column-gap: 0px;
  }
}
.hero___85YGb:global(.__wab_instance) {
  max-width: 100%;
  z-index: 2;
  width: 50%;
  align-self: flex-start;
}
.text__jd7S4 {
  text-align: center;
}
.text__jorfs {
  text-align: center;
}
.hypernovaLinkButton__kn1Qr:global(.__wab_instance) {
  animation: none;
}
.text__sMkoH {
  animation: none;
  width: auto;
}
.svg__pWxl5 {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  width: 20px;
  color: var(--token-mSfQyuGzKkLg);
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.hypernovaLinkButton__xo4Ml:global(.__wab_instance) {
  animation: none;
}
.text__w1Oi {
  animation: none;
  width: auto;
  color: var(--token-CtevabluNWTZ);
}
.svg__yaN6J {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  color: var(--token-CtevabluNWTZ);
  width: 20px;
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.hero__ihI8:global(.__wab_instance) {
  z-index: 2;
  display: none;
}
.text__qTyUo {
  text-align: center;
}
.text__sYNh {
  text-align: center;
}
.hypernovaLinkButton___5EudI:global(.__wab_instance) {
  animation: none;
}
.text___8YfEr {
  animation: none;
  width: auto;
}
.svg___5W2Ju {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  width: 20px;
  color: var(--token-mSfQyuGzKkLg);
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.hypernovaLinkButton__zij1J:global(.__wab_instance) {
  animation: none;
}
.text___8Ug10 {
  animation: none;
  width: auto;
  color: var(--token-CtevabluNWTZ);
}
.svg__i3PsU {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  color: var(--token-CtevabluNWTZ);
  width: 20px;
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.backgroundHero {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: -350px;
  right: 0px;
  width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backgroundHero {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    margin-top: 100px;
  }
}
.img__wsu1S {
  object-fit: scale-down;
  max-width: 100%;
  width: 100%;
  object-position: right 50%;
  min-width: 0;
}
.img__wsu1S > picture > img {
  object-fit: scale-down;
  object-position: right 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wsu1S {
    object-position: center 50%;
    margin-top: -250px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wsu1S > picture > img {
    object-position: center 50%;
  }
}
.gradientAtmosphere__aBtW:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: -1000px;
  top: -200px;
  right: auto;
  opacity: 0.75;
}
.gradientAtmosphere__gzE7S:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  width: 700px;
  opacity: 0.75;
  bottom: -300px;
  right: -400px;
}
.sectionServicesWeOffer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  z-index: 10;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionServicesWeOffer {
    max-width: var(--token-5Gsgqfrn7UAn);
    margin-top: -200px;
  }
}
.h2__v4ECo {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  z-index: 2;
  padding: 0px;
}
.text__xx9Sx {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.hypernovaLinkButton___4YKQa:global(.__wab_instance) {
  max-width: 100%;
}
.sectionDifferences {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  z-index: 2;
  padding: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .content {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2__ag7SZ {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  z-index: 2;
  margin-bottom: 0px;
  padding: 0px;
}
.text__rZ4Gl {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__ihcBo {
  color: #85979f;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  line-height: 100%;
  position: relative;
  width: 75%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 2;
  margin-bottom: 0px;
}
.freeBox__gKPhb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 50px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gKPhb {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: flex-start;
    max-width: 75%;
    column-gap: 0px;
  }
}
.card__sCAa2:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__sCAa2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__qsK46 {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__blzmd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__bpKue {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bpKue {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7NCiM {
    text-align: center;
  }
}
.text__eXgdh {
  line-height: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eXgdh {
    text-align: center;
  }
}
.svg___6GVxC {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__rkXo0 {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg__y2WB {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__h7Itr {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__rsIpy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__owaZk {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__zdqFh {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___6CqN5 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__g4QbT {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__eb4Td {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg___3VE {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__pWtsH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__lqPCn {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__nDOaf {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__lggVh:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__lggVh:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__fjT1G {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__gkZUu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__fUTc7 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-mSfQyuGzKkLg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fUTc7 {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eoDkU {
    text-align: center;
  }
}
.text__xNmYn {
  line-height: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xNmYn {
    text-align: center;
  }
}
.svg__gcUf4 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__au8Is {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg__hpVKm {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__uyClf {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__rRh9F {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__zzyjw {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__oKpuO {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__byT6E {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__v9DBf {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__tE5Hs {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__wnyfv {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__id8YE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__yCwf {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3Rhfq {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__se8Wa:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__se8Wa:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__hPlF {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__wSr3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__f9OYu {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__f9OYu {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oUjgb {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.text__zd5G8 {
  line-height: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zd5G8 {
    text-align: center;
  }
}
.svg__uLv5H {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__yWbZ1 {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg___2Dnnz {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__eeQIy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__dFe7F {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__o3Vmy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__brpU0 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__bYnPj {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__gl41T {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__zGrPk {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__k065 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__adTdN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text___9Tu26 {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5JwIp {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.background {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.gradientAtmosphere__uvRbX:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: -500px;
  right: -400px;
  opacity: 0.2;
}
.gradientAtmosphere__lmuxF:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: -500px;
  top: auto;
  opacity: 0.5;
  bottom: -500px;
  right: 0;
}
.sectionProcess {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionProcess {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2__ko3Vw {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  z-index: 2;
  margin-bottom: 0px;
  padding: 0px;
}
.text__rxq36 {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text___07JlA {
  color: #85979f;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  line-height: 100%;
  position: relative;
  width: 75%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 2;
  margin-bottom: 0px;
}
.freeBox__zvzNr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zvzNr {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: flex-start;
    max-width: 75%;
    column-gap: 0px;
  }
}
.card__p527Q:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__p527Q:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__jEc2E {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__vsHIu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__yMc8S {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__oAqHu {
  line-height: 26px;
}
.svg__wUxDh {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg___2RaBb {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg__vJnG2 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__evWni {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__slR6P {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___39U22 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__qOqfV {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__nAhc {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__nDg0Y {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__bvKgz {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__whsv9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__oiUbW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__ppnxS {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lu5N4 {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__mzkiI:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__mzkiI:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__p1Hm {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__qBxJh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__aRa3L {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__cZ3Fa {
  line-height: 26px;
}
.svg___1QMry {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__dIk3A {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg__kWHrA {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__a3IdE {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__f9NuS {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__hgK96 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__ckVah {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__bv2Co {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__mUbB9 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__qqNrG {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__hfAmg {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__d3VGd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__dymDt {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___8XaWv {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__hxbd2:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__hxbd2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__wzFoW {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__gXfQo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__aHkr {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__kVlfF {
  line-height: 26px;
}
.svg__tuaq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-CtevabluNWTZ);
  height: 50px;
  width: 50px;
}
.svg__xd4Sb {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg___71PRk {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg___7XnCt {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__sEgV {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__ecpRa {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__g2Qv1 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__pTxPf {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__sEsTy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__qZHpo {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__smDdG {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__dzBX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__zKz5K {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__gePno {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__eFhVv:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card__eFhVv:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___0T1B {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__g3D4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__dmO14 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__fuZeF {
  line-height: 26px;
}
.svg__xZBhu {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__aP7Lw {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.svg__nTxAy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__ek7Up {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__o2ARk {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__agJhl {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__pqukZ {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__irVjf {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__boauZ {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__qjV0 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__bjP7Z {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__dh7Ot {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__whVoG {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hJ2YV {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.sectionProjectEstimator {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionProjectEstimator {
    max-width: none;
  }
}
.schedulePromptScrollRoot {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-osh5soDATaxr);
  width: auto;
  height: 0px;
  z-index: -999;
  left: 0;
  top: -77px;
  right: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.contentEstimator {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  z-index: 2;
  margin-bottom: 0px;
  max-width: var(--token-J2N8u94skM0c);
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contentEstimator {
    max-width: var(--token-5Gsgqfrn7UAn);
    z-index: 10;
    width: 100%;
    min-width: 0;
  }
}
.h2__sHzpY {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.text___9P8Aj {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.projectEstimator:global(.__wab_instance) {
  max-width: 100%;
}
.scrollParallax:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 172px;
  z-index: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scrollParallax:global(.__wab_instance) {
    z-index: 10;
  }
}
.freeBox__zI6CH {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  top: 146px;
  left: 0px;
  z-index: 2;
  width: 40%;
  padding: 0px;
}
.img__kzRwD {
  object-fit: cover;
  width: auto;
}
.img__kzRwD > picture > img {
  object-fit: cover;
}
.backgroundEstimator {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: auto;
  left: 0;
  top: 0;
  right: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backgroundEstimator {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.htmlVideo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.75;
  min-width: 0;
}
.freeBox__vkWmc {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rhvrG6H0n5Kr);
  top: 0px;
  left: 0px;
  z-index: 10;
  min-width: 0;
}
.img__lq0A {
  object-fit: scale-down;
  max-width: 100%;
  height: auto;
  max-height: 800px;
  margin-left: -250px;
  margin-top: 300px;
}
.img__lq0A > picture > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lq0A {
    object-position: 50% top;
    width: 100%;
    min-width: 0;
    margin: 550px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lq0A > picture > img {
    object-position: 50% top;
  }
}
.sectionComparison {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  margin-top: 400px;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionComparison {
    max-width: none;
    margin-top: 0px;
    height: auto;
  }
}
.contentComparison {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  max-width: var(--token-J2N8u94skM0c);
  z-index: 1;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contentComparison {
    max-width: var(--token-5Gsgqfrn7UAn);
    width: 100%;
    row-gap: var(--token-Cj4iGZmtnwy1);
    column-gap: 0px;
    min-width: 0;
  }
}
.h2__mC5M {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  z-index: 2;
  margin-bottom: 0px;
  padding: 0px;
}
.text__moKEc {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__zJv7H {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 50px;
  background: none;
  min-width: 0;
  border-radius: 20px;
  padding: 0px;
  margin: 0px;
  border: 1px solid var(--token-CtevabluNWTZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zJv7H {
    width: auto;
  }
}
.comparisonTable:global(.__wab_instance) {
  position: relative;
}
.freeBox__ccvpE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__qZyt3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  margin-bottom: 0px;
  row-gap: 35px;
  background: #01a8ee1a;
  border-radius: 20px;
  padding: 75px 200px;
  border: 1px solid var(--token-CtevabluNWTZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qZyt3 {
    padding: var(--token-tv7Vq53ow2cq);
  }
}
.h2__aAdM {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.text__d87Mm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  line-height: 100%;
  min-width: 0;
}
.text__fwbf1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  line-height: 100%;
  min-width: 0;
}
.freeBox__aoQac {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 25px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aoQac {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    column-gap: 0px;
  }
}
.hypernovaLinkButton___82Gkp:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hypernovaLinkButton___82Gkp:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__nYQxk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.svg__a3P2G {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: #ffffff;
  height: 1em;
}
.hypernovaLinkButton__ves3L:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hypernovaLinkButton__ves3L:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.backgroundComparison {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  margin-top: -400px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backgroundComparison {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    margin: auto;
  }
}
.img__n8Kbf {
  object-fit: fill;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__n8Kbf > picture > img {
  object-fit: fill;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__n8Kbf {
    margin: -700px;
  }
}
.sectionBenefits {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  z-index: 2;
  margin-top: 144px;
  margin-bottom: 144px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionBenefits {
    max-width: none;
    margin: 0px;
  }
}
.h2__wasfs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.text__tEOaJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  min-width: 0;
}
.text__aqou0 {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 2;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox___3Jyb4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 350px;
  column-gap: 50px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Jyb4 {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: flex-start;
    max-height: none;
    column-gap: 0px;
  }
}
.card__he7LD:global(.__wab_instance) {
  max-width: 100%;
}
.svg__x2Pvq {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__mlHX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__irwy0 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__ozKoG {
  line-height: 26px;
}
.svg__gykMx {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__ykaKo {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ykaKo {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nelW {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__brlj9 {
    text-align: center;
  }
}
.svg__juHtH {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__mJW {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__bPkMw {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__txArk {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__ftgaX {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__igQdy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__da8Cf {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__cil67 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__omrgh {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__qu1N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__pHhki {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__aEtB {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.sectionDivider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.card___3BqY:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2I3Fx {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text___46Sw7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__wXQpH {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__dc5Mv {
  line-height: 26px;
}
.svg__x8V5X {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__kNaQo {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__kNaQo {
    align-self: center;
  }
}
.text__ooKzo {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ooKzo {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iDgo {
    text-align: center;
  }
}
.svg__zqUo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__luiUu {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__ndlP {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___8IrV {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__z2O6 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__p4VsQ {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__sQicA {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__aKoq {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__hN6S3 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__m5KTw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__mdTgy {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mzX7G {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.freeBox__yBImp {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  height: auto;
  max-height: 350px;
  padding: 0px;
}
.img__hub {
  object-fit: scale-down;
  max-width: 100%;
  height: 350px;
  flex-shrink: 0;
}
.img__hub > picture > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hub {
    height: 100%;
    min-height: 0;
  }
}
.card__n7Rcp:global(.__wab_instance) {
  max-width: 100%;
}
.svg__u3CkB {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__rwHfB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__kuWvn {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__yDqq2 {
  line-height: 26px;
}
.svg__l6XVv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-CtevabluNWTZ);
  height: 50px;
  width: 50px;
}
.svg__tv3Wn {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tv3Wn {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aeCBl {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vFaT {
    text-align: center;
  }
}
.svg__dzcOa {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg___3FLfK {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__yVRvL {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__eCb22 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__jjVrE {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__quMuy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___8TvTa {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__tEl6H {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__sSwNr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__waolt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__yEwBu {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___0Mbjt {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.freeBox__nBhe3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  height: auto;
  max-height: 350px;
  padding: 0px;
}
.img__f83PT {
  object-fit: scale-down;
  max-width: 100%;
  height: 350px;
  flex-shrink: 0;
}
.img__f83PT > picture > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__f83PT {
    height: auto;
  }
}
.card__cs6U:global(.__wab_instance) {
  max-width: 100%;
}
.svg__b1G8O {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__zcGYq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__aKhT {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__vE91J {
  line-height: 26px;
}
.svg__uyUun {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__iyylx {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__iyylx {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__np98 {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pepo7 {
    text-align: center;
  }
}
.svg__av0Kb {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__kZyR {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__whswL {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__w9Jej {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__cOmue {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___19BkQ {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___7D4Ec {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__iuOfy {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__gtGqN {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__htAhg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__i2W23 {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ijVse {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.sectionTestimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionTestimonials {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2__y03W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.text__sv3L1 {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 2;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__pIzlZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 50px;
  min-width: 0;
  padding: 0px;
}
.carousel:global(.__wab_instance) {
  max-width: 100%;
}
.sectionSuccessStories {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionSuccessStories {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2__k0SOd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.text__uuUkh {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 55px;
  line-height: 100%;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 2;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__y5J6F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 50px;
  min-width: 0;
  padding: 0px;
}
.card___1X2YJ:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ohgU0 {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__aMYzv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__j3Uow {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__cJpxd {
  line-height: 26px;
}
.svg__eocYh {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg___9YKwa {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
.svg__bkqgn {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__oV3Sa {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__vkKpw {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__kfEg7 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__mvJ1W {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__xaReL {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___4WkD6 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__xdUwo {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__dBvgr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__pUkT8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__maLXr {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___4Gs4C {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__z29Pl:global(.__wab_instance) {
  max-width: 100%;
}
.svg__v4UY {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__vmA9I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__cIbRe {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__jZew3 {
  line-height: 26px;
}
.svg__vvbjE {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__gc78D {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
.text__r2Vli {
  padding-bottom: 0px;
}
.svg__i7Brn {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__lkVuj {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__pmF4 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__b6Kk7 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__iBwv5 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___7Eqwx {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__aoHqS {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__drtqG {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg___3VRWk {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__opkgE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__pkhE4 {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__p9Hx {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__wtd4H:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tRqJv {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__p9Di6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__wMt0V {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text___2YbDd {
  line-height: 26px;
}
.svg__vCbpe {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-CtevabluNWTZ);
  height: 50px;
  width: 50px;
}
.svg__ktvOx {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
.svg___32ZI {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__aDwbx {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__c4Q5X {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__eM4O {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__hxtJt {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__kyvLm {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__vt0O {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox__lTm1G {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__eKwO {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text__m498W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__qYtOy {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qXgN2 {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
.card__skP9B:global(.__wab_instance) {
  max-width: 100%;
}
.svg__x46Oy {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 84px;
  align-self: center;
  color: var(--token-CtevabluNWTZ);
}
.text__qKDb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__ra1Yf {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text__haiaL {
  line-height: 26px;
}
.svg___72ZpC {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-CtevabluNWTZ);
}
.svg__dc8Bb {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 85px;
  color: var(--token-CtevabluNWTZ);
}
.svg__pQqHn {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 171px;
  min-width: 0;
}
.svg__fu3Yy {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___3AwY0 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__m5OKm {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg___8TbwS {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__fcDrj {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.svg__r7M96 {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.freeBox___1CWQq {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: center;
  width: 90px;
  height: 90px;
  padding: 0px;
}
.svg__hAoti {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-CtevabluNWTZ);
  min-width: 0;
  min-height: 0;
}
.text___2EaVy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__n5Xx0 {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uixGu {
  color: var(--token-CxAnQBhtaR_a);
  font-size: var(--token-aF64rTv4EgcO);
  line-height: 31px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
}
