.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  position: relative;
  justify-self: flex-start;
  background: none;
  height: 100%;
  margin-top: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
    display: flex;
    height: auto;
  }
}
.callMeMaybe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  width: 100%;
  transform: rotate3d(0, 1, 0, 180deg);
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 3;
  opacity: 0.35;
  bottom: 0px;
  min-width: 0;
  min-height: 0;
  display: none;
}
.callMeMaybe > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .callMeMaybe {
    animation: none;
    transform: none;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--token-3YUkefHwERhe);
  top: auto;
  left: auto;
  right: auto;
  z-index: 3;
  height: 100%;
  width: var(--token-J2N8u94skM0c);
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    left: auto;
    top: auto;
    right: auto;
    height: auto;
  }
}
.footerCta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aWJezReMKGoy);
  margin-bottom: 233px;
  margin-top: 89px;
  min-width: 0;
  border-radius: 20px;
  padding: 50px 100px;
  border: 1px solid var(--token-CtevabluNWTZ);
}
@media (max-width: 1024px) {
  .footerCta {
    padding-right: 34px;
    padding-left: 34px;
    z-index: 3;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerCta {
    display: flex;
    flex-direction: column;
    margin-bottom: 144px;
    column-gap: 0px;
    padding: 8px;
  }
}
.footerCtatype_noBackgroundOnCtaWrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-rhvrG6H0n5Kr);
  background: none;
  column-gap: 0px;
  border-style: none;
}
.tagline {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  row-gap: var(--token-rhvrG6H0n5Kr);
  min-width: 0;
  padding: 8px;
}
.taglinetype_noBackgroundOnCtaWrapper {
  align-items: center;
  justify-content: center;
}
.freeBox__iwYU {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iwYU {
    font-size: 28px;
    line-height: 40px;
    justify-content: center;
    align-items: center;
  }
}
.slotTargetChildren {
  font-size: var(--token-HVJEbAaAPIoW);
  text-align: left;
  line-height: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetChildren {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }
}
.freeBox__hAxHe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hAxHe {
    justify-content: center;
  }
}
.freeBoxtype_noBackgroundOnCtaWrapper__hAxHe8CvJs {
  justify-content: center;
  align-items: center;
}
.freeBox__y937N {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y937N {
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
  }
}
.slotTargetSlot {
  font-size: var(--token-_Tfi4Bnr-t1z);
  font-weight: 600;
  text-align: left;
  line-height: 100%;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot {
    font-weight: 500;
    font-size: var(--token-4niyDfX3UTZF);
    line-height: 1;
    text-align: center;
    white-space: pre-wrap;
  }
}
.buttonStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.buttonStack_2Button {
  display: flex;
  row-gap: var(--token-rhvrG6H0n5Kr);
  column-gap: 0px;
}
.hypernovaLinkButton__poMb5:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hypernovaLinkButton__poMb5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__qcsLg {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.hypernovaLinkButton__srVfu:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hypernovaLinkButton__srVfu:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__fx10S {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.freeBox__f3IeW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__f3IeW {
    justify-content: space-between;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f3IeW {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-3YUkefHwERhe);
    column-gap: 0px;
  }
}
.services {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-qgfmG_2eOoRq);
  flex-wrap: wrap;
  row-gap: var(--token-qgfmG_2eOoRq);
  align-content: flex-start;
  min-width: 0;
}
.services_2Button {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-qgfmG_2eOoRq);
  column-gap: 0px;
}
.text___60JT4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 13px;
  min-width: 0;
}
.cmsDataFetcher__zmNs:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  row-gap: var(--token-OqH8bkzTupXe);
  min-width: 0;
}
.freeBox__kTlAp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.footerLink___9Scb9:global(.__wab_instance) {
  max-width: 100%;
}
.cmsEntryField__hrrh0:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  text-align: center;
}
.text__dcDp8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pxHKk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.insights {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-qgfmG_2eOoRq);
  flex-wrap: wrap;
  row-gap: var(--token-qgfmG_2eOoRq);
  align-content: flex-start;
  min-width: 0;
}
.insights_2Button {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-qgfmG_2eOoRq);
  column-gap: 0px;
}
.text__g4A5E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 13px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g4A5E {
    text-align: center;
  }
}
.cmsDataFetcher__d6BBi:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  row-gap: var(--token-OqH8bkzTupXe);
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__q5MUh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.footerLink__msIaA:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLink__msIaA:global(.__wab_instance) {
    width: auto;
  }
}
.cmsEntryField__bs4Dv:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  text-align: center;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsEntryField__bs4Dv:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__yzuy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__v8YHj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.misc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-qgfmG_2eOoRq);
  flex-wrap: wrap;
  row-gap: var(--token-qgfmG_2eOoRq);
  align-content: flex-start;
  min-width: 0;
}
.misc_2Button {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-qgfmG_2eOoRq);
  column-gap: 0px;
}
.text__ys5Ox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 13px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ys5Ox {
    text-align: center;
  }
}
.footerLink__olIIf:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLink__olIIf:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ofUs {
    width: 100%;
    min-width: 0;
  }
}
.footerLink__wzeiq:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLink__wzeiq:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5BIex {
    width: 100%;
    min-width: 0;
  }
}
.footerLink__zzTld:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vryRd {
    width: 100%;
    min-width: 0;
  }
}
.texttype_noBackgroundOnCtaWrapper__vryRd8CvJs {
  text-align: left;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  max-width: var(--token-J2N8u94skM0c);
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .copyright {
    display: flex;
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 0px;
  }
}
.logoStack {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoStack {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
.link {
  display: flex;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
}
.copyrightStack {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
}
.text__dr6Zg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 200;
  color: #b3c7d0;
  white-space: pre;
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dr6Zg {
    white-space: pre-wrap;
    text-align: center;
    font-size: 14px;
  }
}
.background {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  left: 0;
  top: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: url("/plasmic/hypernova_inc/images/frame215CopyPng3.png") left 50% bottom 0% / cover repeat;
  overflow: visible;
  padding: 0px;
}
@media (max-width: 1024px) {
  .background {
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .background {
    left: 0px;
    top: 0px;
    background: url("/plasmic/hypernova_inc/images/frame205CopyPng.png") left 50% bottom 0% / cover repeat;
  }
}
.background_2Button {
  align-items: center;
  justify-content: flex-end;
}
