.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: var(--token-rhvrG6H0n5Kr);
  max-width: 579px;
  width: 100%;
  background: var(--token-trBupIMQCpkf);
  position: relative;
  min-width: 0;
  border-radius: 20px;
  padding: 0px 50px 30px;
  border: 1px solid var(--token-A0gdXvu-mEZL);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.freeBox__ch4L3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  background: var(--token-CtevabluNWTZ);
  transform: translate3d(0px, -50%, 0px);
  margin-left: 0px;
  align-self: flex-start;
  border-radius: 10px;
  padding: 15px 25px;
}
@media (max-width: 1024px) {
  .freeBox__ch4L3 {
    align-self: center;
  }
}
.freeBox__kkSuz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__zhWih {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  min-width: 0;
  margin: -40px 0px 0px;
}
.slotTargetPrimary {
  text-align: left;
}
