.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
.globalShell:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__p1Hzm {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-TOYeqOh-Zbs-);
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.section__nnDJr:global(.__wab_instance) {
  max-width: 100%;
}
.hero:global(.__wab_instance) {
  max-width: 100%;
}
.h1 {
  text-align: center;
  padding-bottom: 0px;
}
.text___05OB {
  text-align: center;
}
.hypernovaLinkButton___1SthH:global(.__wab_instance) {
  animation: none;
}
.text__ucQnj {
  animation: none;
  width: auto;
}
.svg__v7Jk9 {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  width: 20px;
  color: var(--token-mSfQyuGzKkLg);
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.hypernovaLinkButton__qEqs7:global(.__wab_instance) {
  animation: none;
}
.text___17JD {
  animation: none;
  width: auto;
}
.svg__mAV5 {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  color: var(--token-CtevabluNWTZ);
  width: 20px;
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.img__aIm0B {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  margin: -100px 0px 0px;
}
.img__aIm0B > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__aIm0B {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    align-self: flex-start;
    width: 30vw;
    margin: 0px 0px 0px 100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aIm0B {
    width: 80vw;
    align-self: center;
    margin: 0px;
  }
}
.img__s8B {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  right: 200px;
  bottom: 75px;
  width: 20vw;
  display: none;
}
.img__s8B > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__s8B {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__s8B {
    display: none;
  }
}
.img__vg6Am {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__vg6Am > picture > img {
  object-fit: cover;
}
.section__roOm:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 144px;
}
@media (max-width: 1024px) {
  .section__roOm:global(.__wab_instance) {
    margin-top: -75px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__roOm:global(.__wab_instance) {
    margin: -100px auto auto;
  }
}
.freeBox__pGddY {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__pGddY {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pGddY {
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBox___6Vvf0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox___6Vvf0 {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Vvf0 {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2__yquAu {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.text__y17U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: var(--token-BoFq2ZBglgQP);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__y17U {
    text-align: center;
  }
}
.text__biqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-lYDAva1W68mD);
  line-height: 1.1;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__biqB {
    text-align: center;
  }
}
.blurbCard:global(.__wab_instance) {
  position: relative;
  margin-top: 50px;
}
.img__naFbx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  max-height: 1400px;
  align-self: flex-end;
  transform: translate3d(0%, -10%, 0px);
}
.img__naFbx > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__naFbx {
    position: relative;
    left: auto;
    top: auto;
    align-self: center;
    width: 40vw;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__naFbx {
    max-height: none;
    position: relative;
    left: auto;
    top: auto;
    width: 80vw;
  }
}
.img__htF7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__htF7 > picture > img {
  object-fit: cover;
}
.section__bJgGu:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .section__bJgGu:global(.__wab_instance) {
    margin-top: -200px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__bJgGu:global(.__wab_instance) {
    max-width: var(--token-5Gsgqfrn7UAn);
    margin: -150px 0px 0px;
  }
}
.freeBox__bb5S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-J2N8u94skM0c);
  column-gap: var(--token-Jvcsq00OZLEu);
  flex-wrap: wrap;
  row-gap: var(--token-Jvcsq00OZLEu);
  align-content: flex-start;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__bb5S {
    max-width: 95%;
  }
}
.svg__uwXff {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__syc7O {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__gKiV2 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__gdhYb {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__ygw7Q {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kvCr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___80KhV {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__llQxf {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7XvnK {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__f7B8H {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__javyc {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___30Jo5 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__xmSq {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__dvqKs {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__r2BW {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__qjqpk {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3___9VqMv {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__fuwYx {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.img__b2Nl {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__b2Nl > picture > img {
  object-fit: cover;
}
.img__gDqai {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__gDqai > picture > img {
  object-fit: cover;
}
.section__kfPr9:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kwVhs {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  align-self: flex-end;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwVhs {
    max-width: none;
  }
}
.freeBox__fsCq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-rhvrG6H0n5Kr);
  max-width: 646px;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__fsCq {
    max-width: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fsCq {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2__fWl6F {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__zqg8S {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h2__zqg8S {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__zqg8S {
    text-align: center;
  }
}
.text__yrU9C {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__yrU9C {
    text-align: center;
  }
}
.img__tOw9G {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__tOw9G > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tOw9G {
    margin-top: -229px;
    margin-bottom: -412px;
  }
}
.img__zXe8X {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__zXe8X > picture > img {
  object-fit: cover;
}
.section__z601V:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 150px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__z601V:global(.__wab_instance) {
    max-width: var(--token-5Gsgqfrn7UAn);
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  animation: none;
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  column-gap: var(--token-813pBaaYuZIE);
  row-gap: var(--token-813pBaaYuZIE);
  align-content: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .cmsDataFetcher:global(.__wab_instance) {
    animation: none;
    justify-content: center;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsDataFetcher:global(.__wab_instance) {
    animation: none;
    justify-content: center;
    align-content: flex-start;
  }
}
.testimonialCard:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialCard:global(.__wab_instance) {
    animation: none;
  }
}
.cmsEntryField__sYvJj:global(.__wab_instance) {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.freeBox__daNhe {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.cmsEntryImage:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.img__wjotu {
  animation: none;
  width: 34px;
  height: 34px;
  object-fit: contain;
  border-radius: 20%;
}
.img__wjotu > picture > img {
  object-fit: contain;
}
.cmsEntryField__mHqI8:global(.__wab_instance) {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  font-weight: 200;
}
.text__nnjFl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rYtsB {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__fm0Gb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__fm0Gb > picture > img {
  object-fit: cover;
}
.img__dFZs4 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__dFZs4 > picture > img {
  object-fit: cover;
}
.footer___8CCub:global(.__wab_instance) {
  animation: none;
  z-index: auto;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  bottom: auto;
}
.text__egZfb {
  animation: none;
}
