.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.globalShell:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .globalShell:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__dhHl4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-TOYeqOh-Zbs-);
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.img___3JRD {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  right: 0;
  z-index: -1;
  opacity: 0.65;
  min-width: 0;
}
.img___3JRD > picture > img {
  object-fit: contain;
}
@media (max-width: 1024px) {
  .img___3JRD {
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3JRD {
    display: none;
  }
}
.hero:global(.__wab_instance) {
  max-width: 100%;
}
.hero__uzvhH:global(.__wab_instance) {
  max-width: 100%;
}
.h1 {
  text-align: center;
}
.text__jx4MZ {
  text-align: center;
}
.hypernovaLinkButton__uvmfK:global(.__wab_instance) {
  animation: none;
}
.text___23J7 {
  animation: none;
  width: auto;
}
.svg__n3N2W {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  width: 20px;
  color: var(--token-mSfQyuGzKkLg);
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.hypernovaLinkButton___9H4Gq:global(.__wab_instance) {
  animation: none;
}
.text__rStbh {
  animation: none;
  width: auto;
}
.svg__gae7F {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  color: var(--token-CtevabluNWTZ);
  width: 20px;
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.scrollParallax___33Qv1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
}
@media (max-width: 1024px) {
  .scrollParallax___33Qv1:global(.__wab_instance) {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    margin-top: 50px;
  }
}
.img__xPtQk {
  animation: none;
  object-fit: scale-down;
  max-width: 100%;
  width: 20vw;
  height: auto;
  margin-top: 100px;
  margin-left: 50px;
}
.img__xPtQk > picture > img {
  object-fit: scale-down;
}
@media (max-width: 1024px) {
  .img__xPtQk {
    width: 60vw;
    margin: 0px;
  }
}
.gradientAtmosphere:global(.__wab_instance) {
  max-width: 100%;
  opacity: 0.25;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}
@media (max-width: 1024px) {
  .gradientAtmosphere:global(.__wab_instance) {
    display: none;
  }
}
.scrollParallax__bjSe0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .scrollParallax__bjSe0:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .scrollParallax__bjSe0:global(.__wab_instance) {
    display: none;
  }
}
.img__uFtZf {
  object-fit: cover;
  max-width: 100%;
  width: 20vw;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  height: auto;
}
.img__uFtZf > picture > img {
  object-fit: cover;
}
.img__twddo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__twddo > picture > img {
  object-fit: cover;
}
.whyVibecodedBreaks:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .whyVibecodedBreaks:global(.__wab_instance) {
    margin-top: -100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .whyVibecodedBreaks:global(.__wab_instance) {
    margin: -50px 0px 0px;
  }
}
.freeBox__jPnE2 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-5SgL2WJ6fUnj);
  max-width: 789px;
  align-self: flex-start;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__jPnE2 {
    max-width: none;
    align-items: center;
    justify-content: center;
  }
}
.h2__hMgsp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.text__rSm5I {
  text-align: left;
}
@media (max-width: 1024px) {
  .text__rSm5I {
    text-align: center;
  }
}
.blurbCard:global(.__wab_instance) {
  max-width: 748px;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .blurbCard:global(.__wab_instance) {
    align-self: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .blurbCard:global(.__wab_instance) {
    margin-top: 100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eO7N {
    text-align: center;
  }
}
.scrollParallax__gM6H9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
}
.img__efq3J {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  width: 30vw;
  margin-right: 100px;
}
.img__efq3J > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__efq3J {
    align-self: center;
    width: 75vw;
    margin: 50px 0px 0px;
  }
}
.img__wweA2 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__wweA2 > picture > img {
  object-fit: cover;
}
.howWeDoIt:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__d7Bvx {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-Eph2eYQkLDAS);
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d7Bvx {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__n43Jj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-5Gsgqfrn7UAn);
  column-gap: var(--token-Eph2eYQkLDAS);
  flex-wrap: wrap;
  row-gap: var(--token-Eph2eYQkLDAS);
  align-content: center;
  min-width: 0;
}
.svg__zUJjB {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__zGlQn {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dUliv {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___520Pi {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text___7UUFo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.text__t55Kj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__aZgMq {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__cEbyt {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.text___8Fshj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__thHge {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__bIlu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ohuAi {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__cgmtv {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__ewHi {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__l9Wu7 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__v0T1A {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text___9QERe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tBfDe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.scrollParallax__pdYiY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__lm3GA {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: -1500px;
  min-width: 0;
}
.img__lm3GA > picture > img {
  object-fit: cover;
}
.img__cuFon {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__cuFon > picture > img {
  object-fit: cover;
}
.techStack:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___7BMRu {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.technologyList:global(.__wab_instance) {
  max-width: var(--token-J2N8u94skM0c);
}
@media (min-width: 0px) and (max-width: 768px) {
  .technologyList:global(.__wab_instance) {
    max-width: none;
  }
}
.img__wWlFy {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__wWlFy > picture > img {
  object-fit: cover;
}
.whyDifferent:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .whyDifferent:global(.__wab_instance) {
    animation: none;
    width: var(--token-5Gsgqfrn7UAn);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .whyDifferent:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__vDf8B {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-Jvcsq00OZLEu);
  flex-wrap: wrap;
  row-gap: var(--token-Jvcsq00OZLEu);
  align-content: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__vDf8B {
    animation: none;
    row-gap: var(--token-qgfmG_2eOoRq);
    column-gap: var(--token-qgfmG_2eOoRq);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vDf8B {
    animation: none;
  }
}
.whyWereDifferentCard__kscuj:global(.__wab_instance) {
  animation: none;
}
@media (max-width: 1024px) {
  .whyWereDifferentCard__kscuj:global(.__wab_instance) {
    animation: none;
  }
}
.svg__z24Ub {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__eAz2W {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h3__eAz2W {
    animation: none;
    text-align: center;
  }
}
.text__sOOu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.whyWereDifferentCard__k1IYy:global(.__wab_instance) {
  animation: none;
}
.svg__cooCm {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__prvQc {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h3__prvQc {
    animation: none;
    text-align: center;
  }
}
.text__o5GDr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  padding-left: 0px;
  min-width: 0;
}
.whyWereDifferentCard___6TjRj:global(.__wab_instance) {
  animation: none;
}
.svg__dbk6F {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.h3__xSxIx {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h3__xSxIx {
    animation: none;
    text-align: center;
  }
}
.text__wJlJh {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.img___3E3Or {
  animation: none;
  object-fit: cover;
  width: 60%;
  align-self: flex-end;
  transform: none;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  height: 100%;
  min-height: 0;
}
.img___3E3Or > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img___3E3Or {
    animation: none;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3E3Or {
    animation: none;
    display: none;
  }
}
.span {
  animation: none;
  max-width: 1049px;
}
.img__dGaJm {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__dGaJm > picture > img {
  object-fit: cover;
}
.footer___6SXhg:global(.__wab_instance) {
  animation: none;
  z-index: auto;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  bottom: auto;
}
.text__c4Oru {
  animation: none;
}
