.root {
  display: grid;
  flex-direction: column;
  position: relative;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-42eCsixaOo9K);
  width: 100%;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.globalShell:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__csKjF:global(.__wab_instance) {
  max-width: 100%;
  z-index: 3;
}
.hero:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.h1 {
  text-align: center;
}
.text__xGnR7 {
  text-align: center;
  display: none;
}
.hypernovaLinkButton___5SqZp:global(.__wab_instance) {
  animation: none;
}
.text__s4M5E {
  animation: none;
  width: auto;
}
.svg__viW8V {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  width: 20px;
  color: var(--token-mSfQyuGzKkLg);
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.hypernovaLinkButton__wAfK:global(.__wab_instance) {
  animation: none;
}
.text__xMvhU {
  animation: none;
  width: auto;
  color: var(--token-CtevabluNWTZ);
}
.svg__tbcNn {
  animation: none;
  object-fit: cover;
  max-width: 20px;
  color: var(--token-CtevabluNWTZ);
  width: 20px;
  height: 1em;
  margin: 0px 0px 0px var(--token-phwCbjdZBmjb);
}
.rock:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 10%;
  top: 0;
  bottom: auto;
}
@media (max-width: 1024px) {
  .rock:global(.__wab_instance) {
    left: 32%;
  }
}
.img__aaPzb {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
}
.img__aaPzb > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__aaPzb {
    left: auto;
    top: auto;
    bottom: auto;
    width: 15vw;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aaPzb {
    width: 20vw;
  }
}
.field:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 15%;
  top: 392px;
  bottom: auto;
  width: 15vw;
}
@media (max-width: 1024px) {
  .field:global(.__wab_instance) {
    position: absolute;
    left: 15%;
    top: 392px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .field:global(.__wab_instance) {
    bottom: auto;
    left: 0;
    top: auto;
    right: auto;
    width: 30vw;
  }
}
.img__noEt {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
}
.img__noEt > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__noEt {
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.astronaut:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
  margin-top: 150px;
}
@media (max-width: 1024px) {
  .astronaut:global(.__wab_instance) {
    margin: 0px;
  }
}
.img__x7TkB {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30vw;
  transform: rotate3d(0, 0, 0.7, 0deg);
  margin-top: 300px;
  align-self: flex-end;
}
.img__x7TkB > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__x7TkB {
    width: 60vw;
    margin: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__x7TkB {
    width: 70vw;
  }
}
.img__qkW4D {
  object-fit: cover;
  max-width: 100%;
  z-index: -999;
  position: absolute;
  left: 0px;
  top: -200px;
}
.img__qkW4D > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__qkW4D {
    display: none;
  }
}
.img__pYptR {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__pYptR > picture > img {
  object-fit: cover;
}
.freeBox__imQbh {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  margin-top: 200px;
  z-index: 10;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__imQbh {
    margin-top: 0px;
  }
}
.estimator:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .estimator:global(.__wab_instance) {
    animation: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .estimator:global(.__wab_instance) {
    animation: none;
    transform: none;
    width: var(--token-5Gsgqfrn7UAn);
  }
}
.h2 {
  animation: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    animation: none;
  }
}
.projectEstimator:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectEstimator:global(.__wab_instance) {
    animation: none;
  }
}
.scrollParallax:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  transform: translate3d(0px, -35%, 0px);
  position: absolute;
  left: 327px;
  top: 55%;
}
@media (max-width: 1024px) {
  .scrollParallax:global(.__wab_instance) {
    animation: none;
    top: -177px;
    left: 0;
    bottom: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .scrollParallax:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__rEi7C {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 2;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rEi7C {
    animation: none;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.img__bJsIo {
  animation: none;
  object-fit: scale-down;
  max-width: 100%;
  width: auto;
  transform: translate3d(-40%, 0px, 0px);
  transition-property: all;
  transition-duration: 1s;
  height: auto;
  max-height: 1512px;
  z-index: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__bJsIo > picture > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bJsIo {
    animation: none;
    transform: none;
    min-width: 789px;
  }
}
.freeBox__rrKAp {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rrKAp {
    animation: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
.text__xqV7B {
  animation: none;
  line-height: 1;
  color: var(--token-mSfQyuGzKkLg);
  font-size: 20px;
  align-self: center;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xqV7B {
    animation: none;
    font-size: 16px;
  }
}
.logo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 44px;
}
@media (max-width: 1024px) {
  .logo:global(.__wab_instance) {
    animation: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo:global(.__wab_instance) {
    animation: none;
    height: 30px;
  }
}
.section__dUtXl:global(.__wab_instance) {
  max-width: 100%;
}
.bookMeeting:global(.__wab_instance) {
  max-width: 100%;
  width: var(--token-J2N8u94skM0c);
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookMeeting:global(.__wab_instance) {
    width: var(--token-5Gsgqfrn7UAn);
  }
}
.img__k5Rjw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__k5Rjw > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  animation: none;
  z-index: auto;
  position: relative;
  left: auto;
  top: auto;
  height: 999px;
  bottom: auto;
}
.text__zMlIv {
  animation: none;
}
