.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.input:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: none;
  color: var(--token-L42Sn3LbgX42);
  font-family: var(--token-I-CUhbNsra4O);
  font-size: var(--token-G-QMsCZETdt0);
  line-height: var(--token-iKssAG-AL5Cc);
  width: 100%;
  outline-style: none;
  background: none;
  min-width: 0;
  border-radius: var(--token-7LYWx9-6qBtH);
  padding: var(--token-7LYWx9-6qBtH) var(--token-IVU7zfbus_O_);
  border-style: none;
}
.inputtype_soft:global(.__wab_instance) {
  background: var(--token-MYqty8SKbWsN);
  box-shadow: none;
}
.inputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.inputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.inputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.inputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.inputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.inputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-nrQsKIYl-jUY);
}
.inputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-nrQsKIYl-jUY);
}
.inputborder_white:global(.__wab_instance) {
  border: 1px solid #ffffff99;
}
.inputtextColor_white:global(.__wab_instance) {
  color: #ffffff0d;
}
