@import url("https://fonts.googleapis.com/css2?family=Manrope%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-CtevabluNWTZ: #01a8ee;
  --plasmic-token-brand-hypernova-primary-blue: var(--token-CtevabluNWTZ);
  --token-bhIJpKlYPwFn: 0.5rem;
  --plasmic-token-size-8: var(--token-bhIJpKlYPwFn);
  --token-I-CUhbNsra4O: Manrope;
  --plasmic-token-sans-serif: var(--token-I-CUhbNsra4O);
  --token-G-QMsCZETdt0: 1rem;
  --plasmic-token-font-md: var(--token-G-QMsCZETdt0);
  --token-iKssAG-AL5Cc: 1.25;
  --plasmic-token-line-height-md: var(--token-iKssAG-AL5Cc);
  --token-7LYWx9-6qBtH: 0.375rem;
  --plasmic-token-size-6: var(--token-7LYWx9-6qBtH);
  --token-C3aC485_zLVG: #374151;
  --plasmic-token-neutral-neutral: var(--token-C3aC485_zLVG);
  --token-uQE3u2GH-XMK: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-uQE3u2GH-XMK);
  --token-UWuHSQ1OtsDb: #6b7280;
  --plasmic-token-muted-muted: var(--token-UWuHSQ1OtsDb);
  --token-B1BD8sl8WhYW: 0.25rem;
  --plasmic-token-size-4: var(--token-B1BD8sl8WhYW);
  --token-t6442mvPbujF: 0.75rem;
  --plasmic-token-font-sm: var(--token-t6442mvPbujF);
  --token-urNEVaQj5PDF: 1;
  --plasmic-token-line-height-sm: var(--token-urNEVaQj5PDF);
  --token-C26gYumZqx4M: 1.25rem;
  --plasmic-token-font-lg: var(--token-C26gYumZqx4M);
  --token-xC6TWuCXGn_T: 1.4;
  --plasmic-token-line-height-lg: var(--token-xC6TWuCXGn_T);
  --token-av5KsWAynlgy: 0.125rem;
  --plasmic-token-size-2: var(--token-av5KsWAynlgy);
  --token-qsV3TpKqh-_K: #16a34a;
  --plasmic-token-success-success: var(--token-qsV3TpKqh-_K);
  --token-URyYXJ9Df27K: #facc15;
  --plasmic-token-warning-warning: var(--token-URyYXJ9Df27K);
  --token-c5Gjb8TCTaxQ: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-c5Gjb8TCTaxQ);
  --token-npURlcYIiqhw: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-npURlcYIiqhw);
  --token-MYqty8SKbWsN: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-MYqty8SKbWsN);
  --token-3F_hDAcN1fqy: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-3F_hDAcN1fqy);
  --token-jjxb_E50eh0y: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-jjxb_E50eh0y);
  --token-eFi8Nd20xmPg: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-eFi8Nd20xmPg);
  --token-fejxM-dhf1NZ: #03a0e2;
  --plasmic-token-brand-hypernova-secondary-blue: var(--token-fejxM-dhf1NZ);
  --token-hokpySKJGS1g: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-hokpySKJGS1g);
  --token-2pbdFBVxLUMi: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-2pbdFBVxLUMi);
  --token-J0HxRylu6NNK: #86efac;
  --plasmic-token-success-success-border: var(--token-J0HxRylu6NNK);
  --token-1NYtAui_yjad: #fde047;
  --plasmic-token-warning-warning-border: var(--token-1NYtAui_yjad);
  --token-rZiyEYUvDTZ6: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-rZiyEYUvDTZ6);
  --token-50KkMO61yAbi: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-50KkMO61yAbi);
  --token-5zNG8Xk4W_P2: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-5zNG8Xk4W_P2);
  --token-kamfNaKQ3Shi: #00000033;
  --plasmic-token-interaction-pressed: var(--token-kamfNaKQ3Shi);
  --token-IVU7zfbus_O_: 0.625rem;
  --plasmic-token-size-10: var(--token-IVU7zfbus_O_);
  --token-95NETPkpVVAf: 0.75rem;
  --plasmic-token-size-12: var(--token-95NETPkpVVAf);
  --token-OFB7gyk59ysj: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-OFB7gyk59ysj);
  --token-bEGo7e2whoB2: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-bEGo7e2whoB2);
  --token-FyhtYNizbubO: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-FyhtYNizbubO);
  --token-bvyHfxVVzLoX: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-bvyHfxVVzLoX);
  --token-3zJ0poCjyBbf: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-3zJ0poCjyBbf);
  --token-6O7zemm0jx8b: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-6O7zemm0jx8b);
  --token-k5f6kwAAJmfG: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-k5f6kwAAJmfG);
  --token-9y7-oS57eYQJ: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-9y7-oS57eYQJ);
  --token-qTQm7zAb39nL: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-qTQm7zAb39nL);
  --token--ZFOvbvfkNvI: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token--ZFOvbvfkNvI);
  --token-FWtbBcVieqVh: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-FWtbBcVieqVh);
  --token-RnAk-mJNj6Y1: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-RnAk-mJNj6Y1
  );
  --token-4R6Tp9N6yvnk: 40px;
  --plasmic-token-40-px: var(--token-4R6Tp9N6yvnk);
  --token-mSfQyuGzKkLg: #ffffff;
  --plasmic-token-white: var(--token-mSfQyuGzKkLg);
  --token-LeaZ__MpZCzA: 28px;
  --plasmic-token-28-px: var(--token-LeaZ__MpZCzA);
  --token-42eCsixaOo9K: #0d0d0d;
  --plasmic-token-almost: var(--token-42eCsixaOo9K);
  --token-L42Sn3LbgX42: #030712;
  --plasmic-token-basic-text-primary: var(--token-L42Sn3LbgX42);
  --token-Vssy9QDbTr7E: 1.25rem;
  --plasmic-token-size-20: var(--token-Vssy9QDbTr7E);
  --token-j7noy2Y-zf3u: #9ca3af;
  --plasmic-token-basic-ring: var(--token-j7noy2Y-zf3u);
  --token-5XucM2lskujZ: #2563eb;
  --plasmic-token-brand-brand: var(--token-5XucM2lskujZ);
  --token-8eD0O7Oadiff: #01a8ee;
  --plasmic-token-gradient-blue-1: var(--token-8eD0O7Oadiff);
  --token-k06eivVrewny: #03a0e2;
  --plasmic-token-gradient-blue-2: var(--token-k06eivVrewny);
  --token-BEIUDlulH5xG: #ffffff40;
  --plasmic-token-inner-shadow-white: var(--token-BEIUDlulH5xG);
  --token-scfDzohx2Vqz: #9aa9af;
  --plasmic-token-navigation-link: var(--token-scfDzohx2Vqz);
  --token-OHYdoHV0Vevq: #f9305f;
  --plasmic-token-alert-red: var(--token-OHYdoHV0Vevq);
  --token-aWJezReMKGoy: #01a8ee21;
  --plasmic-token-brand-transparent-blue: var(--token-aWJezReMKGoy);
  --token-phwCbjdZBmjb: 10px;
  --plasmic-token-button-icon-spacing: var(--token-phwCbjdZBmjb);
  --token-nrQsKIYl-jUY: 2rem;
  --plasmic-token-size-32: var(--token-nrQsKIYl-jUY);
  --token-VU6BIRSK0I25: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-VU6BIRSK0I25);
  --token-oPfB8lrYXwZG: #d1d5db;
  --plasmic-token-basic-border: var(--token-oPfB8lrYXwZG);
  --token-1hN4FeJgaFF3: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-1hN4FeJgaFF3);
  --token-TOYeqOh-Zbs-: 50px;
  --plasmic-token-section-spacing: var(--token-TOYeqOh-Zbs-);
  --token-rhvrG6H0n5Kr: 25px;
  --plasmic-token-content-row-gap: var(--token-rhvrG6H0n5Kr);
  --token-xn0hW1RswuS1: clamp(16px, 8vw, 60px);
  --plasmic-token-display-xl: var(--token-xn0hW1RswuS1);
  --token-CjTp8zfHO_BE: 10px;
  --plasmic-token-header-text-spacing: var(--token-CjTp8zfHO_BE);
  --token-8M54vgt2w8aG: 18px;
  --plasmic-token-font-m: var(--token-8M54vgt2w8aG);
  --token-9MTnBd3vXh9l: 40px;
  --plasmic-token-font-size-section-intro: var(--token-9MTnBd3vXh9l);
  --token-k7Pjo57AMxBX: clamp(16px, 5.5vw, 26px);
  --plasmic-token-display-hero-description: var(--token-k7Pjo57AMxBX);
  --token-CxAnQBhtaR_a: #ffffff;
  --plasmic-token-text-primary: var(--token-CxAnQBhtaR_a);
  --token-aF64rTv4EgcO: clamp(16px, 4.5vw, 22px);
  --plasmic-token-display-cms-card: var(--token-aF64rTv4EgcO);
  --token-qI0mz-f3nknW: #ffffff4d;
  --plasmic-token-brand-transparent-white-border: var(--token-qI0mz-f3nknW);
  --token-bOFM3ntQuIgx: #ffffff0f;
  --plasmic-token-brand-transparent-white-bg: var(--token-bOFM3ntQuIgx);
  --token-HNNaXRkXh1Ai: 20px;
  --plasmic-token-hypernova-corner-radius: var(--token-HNNaXRkXh1Ai);
  --token-A0gdXvu-mEZL: #01a8ee99;
  --plasmic-token-brand-transparent-blue-border: var(--token-A0gdXvu-mEZL);
  --token-4qgzTFsRVAsz: #ffffff0f;
  --plasmic-token-brand-hover-card: var(--token-4qgzTFsRVAsz);
  --token-04DLQImJcBOH: #01a8ee80;
  --plasmic-token-brand-blue-drop-shadow: var(--token-04DLQImJcBOH);
  --token-AZVvULGFj1LX: 50px;
  --plasmic-token-section-header-row-gap: var(--token-AZVvULGFj1LX);
  --token-IF9UjE830mdE: 36px;
  --plasmic-token-display-hero-lineheight: var(--token-IF9UjE830mdE);
  --token-xR6gdmvAdhfM: 20px;
  --plasmic-token-border-radius-light: var(--token-xR6gdmvAdhfM);
  --token-osh5soDATaxr: 0px;
  --plasmic-token-no-gap: var(--token-osh5soDATaxr);
  --token-A4dhXpH4tB_l: 10px;
  --plasmic-token-gap-sm: var(--token-A4dhXpH4tB_l);
  --token-WurNlp3BjH0Y: 8px;
  --plasmic-token-gap-xs: var(--token-WurNlp3BjH0Y);
  --token-FrdT1jJTiBnT: 14px;
  --plasmic-token-font-xs: var(--token-FrdT1jJTiBnT);
  --token-J5qaz_U09kvK: 0px;
  --plasmic-token-no-padding: var(--token-J5qaz_U09kvK);
  --token-Hfmd2rPNhud7: clamp(16px, 6vw, 30px);
  --plasmic-token-display-large: var(--token-Hfmd2rPNhud7);
  --token-tbrpnaMBh1nE: 75px;
  --plasmic-token-h-2-line-height: var(--token-tbrpnaMBh1nE);
  --token-36ELMJ6oNHSb: 10px;
  --plasmic-token-border-radius-small: var(--token-36ELMJ6oNHSb);
  --token-OqH8bkzTupXe: 15px;
  --plasmic-token-gap-medium: var(--token-OqH8bkzTupXe);
  --token-3YUkefHwERhe: 50px;
  --plasmic-token-gap-large: var(--token-3YUkefHwERhe);
  --token-pmOqAgbFsVsy: 31px;
  --plasmic-token-card-title-lineheight: var(--token-pmOqAgbFsVsy);
  --token-ANYbtRmQZLjc: clamp(16px, 3.5vw, 18px);
  --plasmic-token-display-card-description: var(--token-ANYbtRmQZLjc);
  --token-oZB8lIvvN_5N: 31px;
  --plasmic-token-card-description-line-height: var(--token-oZB8lIvvN_5N);
  --token-trBupIMQCpkf: #01a8ee0f;
  --plasmic-token-brand-transparent-blue-lighter: var(--token-trBupIMQCpkf);
  --token-48LhuJ0QgSHJ: #b3c7d0;
  --plasmic-token-testimonial-text: var(--token-48LhuJ0QgSHJ);
  --token-tv7Vq53ow2cq: 20px;
  --plasmic-token-20-px-2: var(--token-tv7Vq53ow2cq);
  --token-Cj4iGZmtnwy1: 5px;
  --plasmic-token-section-spacing-mobile: var(--token-Cj4iGZmtnwy1);
  --token-5Gsgqfrn7UAn: 90%;
  --plasmic-token-90: var(--token-5Gsgqfrn7UAn);
  --token-OFkdR6ws-hyJ: 80%;
  --plasmic-token-80: var(--token-OFkdR6ws-hyJ);
  --token-vHFGytSCh2ja: 80px;
  --plasmic-token-50-px: var(--token-vHFGytSCh2ja);
  --token-J2N8u94skM0c: 75%;
  --plasmic-token-75: var(--token-J2N8u94skM0c);
  --token-sZ6BNIQ01nWT: #ffffff00;
  --plasmic-token-clear: var(--token-sZ6BNIQ01nWT);
  --token-Y2SoMxiukzbU: 10px;
  --plasmic-token-padding-10-px: var(--token-Y2SoMxiukzbU);
  --token-oWpS9r6-BFA_: 5px;
  --plasmic-token-padding-5-px: var(--token-oWpS9r6-BFA_);
  --token-pfbJ1Gpaq_n6: 13px;
  --plasmic-token-padding-13-px: var(--token-pfbJ1Gpaq_n6);
  --token-DxTDCIDYnnJb: 30px;
  --plasmic-token-padding-30-px: var(--token-DxTDCIDYnnJb);
  --token-c5J6E779H0NK: 25px;
  --plasmic-token-padding-25-px: var(--token-c5J6E779H0NK);
  --token-a5WUvMxZiMLE: 8px;
  --plasmic-token-padding-8-px: var(--token-a5WUvMxZiMLE);
  --token-VAAcbMduW_CA: 30px;
  --plasmic-token-border-radius-30-px: var(--token-VAAcbMduW_CA);
  --token-S38GvddEXZlj: 50%;
  --plasmic-token-50: var(--token-S38GvddEXZlj);
  --token-61sc8-cu71ZI: clamp(16px, 4.5vw, 21px);
  --plasmic-token-font-mobile-table-header: var(--token-61sc8-cu71ZI);
  --token-jpM-TyfptSNE: 20px;
  --plasmic-token-radius-20-px: var(--token-jpM-TyfptSNE);
  --token-LtZBZiVugUdF: clamp(16px, 8vw, 60px);
  --plasmic-token-hero-title: var(--token-LtZBZiVugUdF);
  --token-l-k7LGM477lA: #01a8ee;
  --plasmic-token-unnamed-style-token-4: var(--token-l-k7LGM477lA);
  --token-Eph2eYQkLDAS: 20px;
  --plasmic-token-gap-card: var(--token-Eph2eYQkLDAS);
  --token-G0v2UOG9uwpm: clamp(16px, 6vw, 40px);
  --plasmic-token-h-1-small: var(--token-G0v2UOG9uwpm);
  --token-qgfmG_2eOoRq: 15px;
  --plasmic-token-gap-15-px: var(--token-qgfmG_2eOoRq);
  --token-5SgL2WJ6fUnj: 20px;
  --plasmic-token-gap-20-px: var(--token-5SgL2WJ6fUnj);
  --token-sMYmTpwNg-dX: 16px;
  --plasmic-token-card-text: var(--token-sMYmTpwNg-dX);
  --token-RirudxurhHrN: clamp(16px, 5vw, 24px);
  --plasmic-token-card-title-small: var(--token-RirudxurhHrN);
  --token-0shyPE1UiP6s: 80px;
  --plasmic-token-gap-80-px: var(--token-0shyPE1UiP6s);
  --token-813pBaaYuZIE: 30px;
  --plasmic-token-gap-30-px: var(--token-813pBaaYuZIE);
  --token-D1aWOJFZ23eT: 60px;
  --plasmic-token-gap-60-px: var(--token-D1aWOJFZ23eT);
  --token-9mg6hjI3t3bQ: clamp(16px, 5.5vw, 25px);
  --plasmic-token-section-description: var(--token-9mg6hjI3t3bQ);
  --token-G8BscPHy3f-4: #85979f;
  --plasmic-token-text-muted: var(--token-G8BscPHy3f-4);
  --token-eF6078I7uGfH: clamp(16px, 6vw, 40px);
  --plasmic-token-h-3-large: var(--token-eF6078I7uGfH);
  --token-lgnNNu2hgzyW: 55px;
  --plasmic-token-gap-55-px: var(--token-lgnNNu2hgzyW);
  --token-rx6qEOvy1li5: clamp(16px, 5vw, 24px);
  --plasmic-token-description: var(--token-rx6qEOvy1li5);
  --token-3ZrZ32rIRZex: clamp(16px, 8vw, 60px);
  --plasmic-token-h-1: var(--token-3ZrZ32rIRZex);
  --token-BoFq2ZBglgQP: clamp(16px, 7.5vw, 55px);
  --plasmic-token-h-2: var(--token-BoFq2ZBglgQP);
  --token-4DA3IOt0AQEh: clamp(16px, 5vw, 24px);
  --plasmic-token-h-3: var(--token-4DA3IOt0AQEh);
  --token--Qs22lvKAHTz: clamp(16px, 4vw, 20px);
  --plasmic-token-navigation: var(--token--Qs22lvKAHTz);
  --token-4niyDfX3UTZF: clamp(16px, 7vw, 45px);
  --plasmic-token-cta-small: var(--token-4niyDfX3UTZF);
  --token-HVJEbAaAPIoW: clamp(16px, 8vw, 50px);
  --plasmic-token-cta-large: var(--token-HVJEbAaAPIoW);
  --token-lYDAva1W68mD: clamp(16px, 4.5vw, 21px);
  --plasmic-token-section-description-2: var(--token-lYDAva1W68mD);
  --token-FWnJh6Vw2K2y: 40px;
  --plasmic-token-gap-40-px: var(--token-FWnJh6Vw2K2y);
  --token-Rs3qbQm9J7uV: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-Rs3qbQm9J7uV);
  --token-Jvcsq00OZLEu: 30px;
  --plasmic-token-section-card-gap: var(--token-Jvcsq00OZLEu);
  --token-fdkEUwgoRSML: clamp(16px, 4vw, 20px);
  --plasmic-token-estimator-paragraph: var(--token-fdkEUwgoRSML);
  --token-_BZuyfPAQkVG: clamp(16px, 6vw, 35px);
  --plasmic-token-estimator-title: var(--token-_BZuyfPAQkVG);
  --token-_Tfi4Bnr-t1z: clamp(16px, 6vw, 28px);
  --plasmic-token-cta-medium: var(--token-_Tfi4Bnr-t1z);
  --token-iwVw3t-fpOtE: #fffa8f;
  --plasmic-token-star-yellow: var(--token-iwVw3t-fpOtE);
  --token-IuKke_02S3dX: #000000e6;
  --plasmic-token-slightly-transparent-black: var(--token-IuKke_02S3dX);
  --token-pdjaamfXFMtX: #d9d9d9;
  --plasmic-token-primary-text: var(--token-pdjaamfXFMtX);
}

@media (max-width: 1024px) {
  .plasmic_tokens {
    --token-TOYeqOh-Zbs-: 0px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-Cj4iGZmtnwy1: 50px;
    --token-vHFGytSCh2ja: 50px;
    --token-61sc8-cu71ZI: 25px;
    --token-G0v2UOG9uwpm: 30px;
    --token-3ZrZ32rIRZex: 42px;
    --token-BoFq2ZBglgQP: 40px;
    --token-Jvcsq00OZLEu: 40px;
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 100%;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_threeJsAstronaut_override) {
  --mixin-C-4bETFuUiXL_font-family: "Manrope", sans-serif;
  --mixin-C-4bETFuUiXL_font-size: 21px;
  --mixin-C-4bETFuUiXL_font-weight: 300;
  --mixin-C-4bETFuUiXL_font-style: normal;
  --mixin-C-4bETFuUiXL_color: #ffffff;
  --mixin-C-4bETFuUiXL_text-align: center;
  --mixin-C-4bETFuUiXL_text-transform: none;
  --mixin-C-4bETFuUiXL_line-height: 1.5;
  --mixin-C-4bETFuUiXL_letter-spacing: normal;
  --mixin-C-4bETFuUiXL_white-space: pre-wrap;
  --mixin-C-4bETFuUiXL_user-select: text;
  --mixin-C-4bETFuUiXL_text-decoration-line: none;
  --mixin-C-4bETFuUiXL_text-overflow: clip;
  --mixin-UF0fI2_WaMrH_color: var(--token-CxAnQBhtaR_a);
  --mixin-UF0fI2_WaMrH_font-weight: 500;
  --mixin-UF0fI2_WaMrH_font-size: var(--token-3ZrZ32rIRZex);
  --mixin-UF0fI2_WaMrH_line-height: 100%;
  --mixin-UF0fI2_WaMrH_font-family: "Manrope", sans-serif;
  --mixin-UF0fI2_WaMrH_text-align: center;
  --mixin-UF0fI2_WaMrH_white-space: pre-wrap;
  --mixin-iL84qWGD154S_color: var(--token-CxAnQBhtaR_a);
  --mixin-iL84qWGD154S_font-size: var(--token-BoFq2ZBglgQP);
  --mixin-iL84qWGD154S_font-weight: 400;
  --mixin-iL84qWGD154S_font-family: "Manrope", sans-serif;
  --mixin-iL84qWGD154S_text-align: center;
  --mixin-iL84qWGD154S_line-height: 100%;
  --mixin-iL84qWGD154S_white-space: pre-wrap;
  --mixin-xD-S0P4tZhyj_color: #0070f3;
  --mixin-xD-S0P4tZhyj_white-space: pre-wrap;
  --mixin-ctt6H6VZzmdw_color: var(--token-CxAnQBhtaR_a);
  --mixin-ctt6H6VZzmdw_font-size: var(--token-4DA3IOt0AQEh);
  --mixin-ctt6H6VZzmdw_font-weight: 500;
  --mixin-ctt6H6VZzmdw_line-height: 31px;
  --mixin-ctt6H6VZzmdw_text-align: center;
  --mixin-ctt6H6VZzmdw_white-space: pre-wrap;
  --mixin-Wu7Sxeq_yQMx_color: #ffffff;
  --mixin-Wu7Sxeq_yQMx_font-size: 30px;
  --mixin-Wu7Sxeq_yQMx_font-weight: 600;
  --mixin-Wu7Sxeq_yQMx_line-height: 100%;
  --mixin-Wu7Sxeq_yQMx_font-family: "Manrope", sans-serif;
  --mixin-Wu7Sxeq_yQMx_white-space: pre-wrap;
  --mixin-djDvFlzgwDgL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-djDvFlzgwDgL_border-bottom-color: #dddddd;
  --mixin-djDvFlzgwDgL_border-bottom-style: solid;
  --mixin-djDvFlzgwDgL_border-bottom-width: 1px;
  --mixin-djDvFlzgwDgL_border-left-color: #dddddd;
  --mixin-djDvFlzgwDgL_border-left-style: solid;
  --mixin-djDvFlzgwDgL_border-left-width: 1px;
  --mixin-djDvFlzgwDgL_border-right-color: #dddddd;
  --mixin-djDvFlzgwDgL_border-right-style: solid;
  --mixin-djDvFlzgwDgL_border-right-width: 1px;
  --mixin-djDvFlzgwDgL_border-top-color: #dddddd;
  --mixin-djDvFlzgwDgL_border-top-style: solid;
  --mixin-djDvFlzgwDgL_border-top-width: 1px;
  --mixin-djDvFlzgwDgL_border-bottom-left-radius: 3px;
  --mixin-djDvFlzgwDgL_border-bottom-right-radius: 3px;
  --mixin-djDvFlzgwDgL_border-top-left-radius: 3px;
  --mixin-djDvFlzgwDgL_border-top-right-radius: 3px;
  --mixin-djDvFlzgwDgL_font-family: "Inconsolata";
  --mixin-djDvFlzgwDgL_padding-bottom: 1px;
  --mixin-djDvFlzgwDgL_padding-left: 4px;
  --mixin-djDvFlzgwDgL_padding-right: 4px;
  --mixin-djDvFlzgwDgL_padding-top: 1px;
  --mixin-djDvFlzgwDgL_white-space: pre-wrap;
  --mixin-z4e8mR65l2Uv_border-left-color: #dddddd;
  --mixin-z4e8mR65l2Uv_border-left-style: solid;
  --mixin-z4e8mR65l2Uv_border-left-width: 3px;
  --mixin-z4e8mR65l2Uv_color: #888888;
  --mixin-z4e8mR65l2Uv_padding-left: 10px;
  --mixin-z4e8mR65l2Uv_white-space: pre-wrap;
  --mixin-JKsFl9wXrUTK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JKsFl9wXrUTK_border-bottom-color: #dddddd;
  --mixin-JKsFl9wXrUTK_border-bottom-style: solid;
  --mixin-JKsFl9wXrUTK_border-bottom-width: 1px;
  --mixin-JKsFl9wXrUTK_border-left-color: #dddddd;
  --mixin-JKsFl9wXrUTK_border-left-style: solid;
  --mixin-JKsFl9wXrUTK_border-left-width: 1px;
  --mixin-JKsFl9wXrUTK_border-right-color: #dddddd;
  --mixin-JKsFl9wXrUTK_border-right-style: solid;
  --mixin-JKsFl9wXrUTK_border-right-width: 1px;
  --mixin-JKsFl9wXrUTK_border-top-color: #dddddd;
  --mixin-JKsFl9wXrUTK_border-top-style: solid;
  --mixin-JKsFl9wXrUTK_border-top-width: 1px;
  --mixin-JKsFl9wXrUTK_border-bottom-left-radius: 3px;
  --mixin-JKsFl9wXrUTK_border-bottom-right-radius: 3px;
  --mixin-JKsFl9wXrUTK_border-top-left-radius: 3px;
  --mixin-JKsFl9wXrUTK_border-top-right-radius: 3px;
  --mixin-JKsFl9wXrUTK_font-family: "Inconsolata";
  --mixin-JKsFl9wXrUTK_padding-bottom: 3px;
  --mixin-JKsFl9wXrUTK_padding-left: 6px;
  --mixin-JKsFl9wXrUTK_padding-right: 6px;
  --mixin-JKsFl9wXrUTK_padding-top: 3px;
  --mixin-JKsFl9wXrUTK_white-space: pre-wrap;
  --mixin-hliuTKAYVh4a_display: flex;
  --mixin-hliuTKAYVh4a_flex-direction: column;
  --mixin-hliuTKAYVh4a_align-items: stretch;
  --mixin-hliuTKAYVh4a_justify-content: flex-start;
  --mixin-hliuTKAYVh4a_list-style-position: outside;
  --mixin-hliuTKAYVh4a_padding-left: 40px;
  --mixin-hliuTKAYVh4a_position: relative;
  --mixin-hliuTKAYVh4a_list-style-type: disc;
  --mixin-hliuTKAYVh4a_white-space: pre-wrap;
  --mixin-p3OEVGhp09Dy_display: flex;
  --mixin-p3OEVGhp09Dy_flex-direction: column;
  --mixin-p3OEVGhp09Dy_align-items: stretch;
  --mixin-p3OEVGhp09Dy_justify-content: flex-start;
  --mixin-p3OEVGhp09Dy_list-style-position: outside;
  --mixin-p3OEVGhp09Dy_padding-left: 40px;
  --mixin-p3OEVGhp09Dy_position: relative;
  --mixin-p3OEVGhp09Dy_list-style-type: decimal;
  --mixin-p3OEVGhp09Dy_white-space: pre-wrap;
  --mixin-MpJ-Hi4NgLYf_color: #000000;
  --mixin-MpJ-Hi4NgLYf_font-size: 20px;
  --mixin-MpJ-Hi4NgLYf_font-weight: 600;
  --mixin-MpJ-Hi4NgLYf_line-height: 1.5;
  --mixin-MpJ-Hi4NgLYf_white-space: pre-wrap;
  --mixin-pdCXRhFUDeus_color: #000000;
  --mixin-pdCXRhFUDeus_font-size: 16px;
  --mixin-pdCXRhFUDeus_font-weight: 600;
  --mixin-pdCXRhFUDeus_line-height: 1.5;
  --mixin-pdCXRhFUDeus_white-space: pre-wrap;
  --mixin-5X7fLNf4zn_L_color: #3291ff;
  --mixin-5X7fLNf4zn_L_white-space: pre-wrap;
  --mixin-2n8bIjBNxZDa_white-space: pre-wrap;
  --mixin-tl_MUM7MTeyE_color: var(--token-G8BscPHy3f-4);
  --mixin-tl_MUM7MTeyE_font-weight: 300;
  --mixin-tl_MUM7MTeyE_font-family: "Manrope", sans-serif;
  --mixin-tl_MUM7MTeyE_font-size: var(--token-rx6qEOvy1li5);
  --mixin-tl_MUM7MTeyE_line-height: 1.3;
  --mixin-tl_MUM7MTeyE_letter-spacing: 0%;
  --mixin-tl_MUM7MTeyE_display: flex;
  --mixin-tl_MUM7MTeyE_flex-direction: row;
  --mixin-tl_MUM7MTeyE_justify-content: center;
  --mixin-tl_MUM7MTeyE_align-items: center;
  --mixin-tl_MUM7MTeyE_text-align: center;
  --mixin-tl_MUM7MTeyE_white-space: pre-wrap;
}

@media (max-width: 1024px) {
  .plasmic_default_styles,
  .plasmic_default_styles:where(.global_threeJsAstronaut_override) {
    --mixin-C-4bETFuUiXL_white-space: pre-wrap;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_default_styles,
  .plasmic_default_styles:where(.global_threeJsAstronaut_override) {
    --mixin-C-4bETFuUiXL_white-space: pre-wrap;
    --mixin-UF0fI2_WaMrH_line-height: 1.3;
    --mixin-UF0fI2_WaMrH_white-space: pre-wrap;
    --mixin-iL84qWGD154S_line-height: 40px;
    --mixin-iL84qWGD154S_white-space: pre-wrap;
    --mixin-ctt6H6VZzmdw_line-height: 100%;
    --mixin-ctt6H6VZzmdw_letter-spacing: 0%;
    --mixin-ctt6H6VZzmdw_font-size: var(--token-cTkOWiwEj7zF);
    --mixin-ctt6H6VZzmdw_white-space: pre-wrap;
  }
}

.plasmic_mixins,
.plasmic_mixins:where(.global_threeJsAstronaut_override) {
  --mixin-QqdZQuEegM3r_white-space: pre-wrap;
  --plasmic-mixin-navigation-link_white-space: var(
    --mixin-QqdZQuEegM3r_white-space
  );
  --mixin-0O_3wQmYjV4z_white-space: pre-wrap;
  --plasmic-mixin-paragraph-text_white-space: var(
    --mixin-0O_3wQmYjV4z_white-space
  );
  --mixin-vMfaIMcrY38v_white-space: pre-wrap;
  --plasmic-mixin-section-header_white-space: var(
    --mixin-vMfaIMcrY38v_white-space
  );
  --mixin-6g6tWRvVp9-Q_white-space: pre-wrap;
  --plasmic-mixin-contact-form-input_white-space: var(
    --mixin-6g6tWRvVp9-Q_white-space
  );
  --mixin-NBrTIkwzVggd_white-space: pre-wrap;
  --plasmic-mixin-section-intro-p-header_white-space: var(
    --mixin-NBrTIkwzVggd_white-space
  );
  --mixin-YXNvXFWD6CEj_white-space: pre-wrap;
  --plasmic-mixin-hero-description_white-space: var(
    --mixin-YXNvXFWD6CEj_white-space
  );
  --mixin-IkO0mprP-TNF_white-space: pre-wrap;
  --plasmic-mixin-cms-card_white-space: var(--mixin-IkO0mprP-TNF_white-space);
  --mixin-cd5nTr_5v8zO_white-space: pre-wrap;
  --plasmic-mixin-contact-form_white-space: var(
    --mixin-cd5nTr_5v8zO_white-space
  );
  --mixin-XDN96WwjqbDt_white-space: pre-wrap;
  --plasmic-mixin-contact-form-header_white-space: var(
    --mixin-XDN96WwjqbDt_white-space
  );
  --mixin-x48di4mYRk8K_white-space: pre-wrap;
  --plasmic-mixin-contact-form-subheader_white-space: var(
    --mixin-x48di4mYRk8K_white-space
  );
  --mixin-EfEbHaia_AoI_white-space: pre-wrap;
  --plasmic-mixin-input-error_white-space: var(
    --mixin-EfEbHaia_AoI_white-space
  );
  --mixin-wKO98F5M380o_white-space: pre-wrap;
  --plasmic-mixin-input-error-message_white-space: var(
    --mixin-wKO98F5M380o_white-space
  );
  --mixin-4EpGqtogfcRi_white-space: pre-wrap;
  --plasmic-mixin-smaller-h-2_white-space: var(
    --mixin-4EpGqtogfcRi_white-space
  );
  --mixin-tz-6-Q5Lm9Be_white-space: pre-wrap;
  --plasmic-mixin-card-title_white-space: var(--mixin-tz-6-Q5Lm9Be_white-space);
  --mixin-hX1u2tqu64Jk_white-space: pre-wrap;
  --plasmic-mixin-card-description_white-space: var(
    --mixin-hX1u2tqu64Jk_white-space
  );
  --mixin-s3iJ79qnagVl_white-space: pre-wrap;
  --plasmic-mixin-footer-header_white-space: var(
    --mixin-s3iJ79qnagVl_white-space
  );
  --mixin-liTyKY-Dg9pv_white-space: pre-wrap;
  --plasmic-mixin-footer-cta-mobile_white-space: var(
    --mixin-liTyKY-Dg9pv_white-space
  );
  --mixin-WBQdS0J4D_uK_white-space: pre-wrap;
  --plasmic-mixin-navigation-link-preset_white-space: var(
    --mixin-WBQdS0J4D_uK_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-C-4bETFuUiXL_font-family);
  font-size: var(--mixin-C-4bETFuUiXL_font-size);
  font-weight: var(--mixin-C-4bETFuUiXL_font-weight);
  font-style: var(--mixin-C-4bETFuUiXL_font-style);
  color: var(--mixin-C-4bETFuUiXL_color);
  text-align: var(--mixin-C-4bETFuUiXL_text-align);
  text-transform: var(--mixin-C-4bETFuUiXL_text-transform);
  line-height: var(--mixin-C-4bETFuUiXL_line-height);
  letter-spacing: var(--mixin-C-4bETFuUiXL_letter-spacing);
  white-space: var(--mixin-C-4bETFuUiXL_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-UF0fI2_WaMrH_color);
  font-weight: var(--mixin-UF0fI2_WaMrH_font-weight);
  font-size: var(--mixin-UF0fI2_WaMrH_font-size);
  line-height: var(--mixin-UF0fI2_WaMrH_line-height);
  font-family: var(--mixin-UF0fI2_WaMrH_font-family);
  text-align: var(--mixin-UF0fI2_WaMrH_text-align);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-iL84qWGD154S_color);
  font-size: var(--mixin-iL84qWGD154S_font-size);
  font-weight: var(--mixin-iL84qWGD154S_font-weight);
  font-family: var(--mixin-iL84qWGD154S_font-family);
  text-align: var(--mixin-iL84qWGD154S_text-align);
  line-height: var(--mixin-iL84qWGD154S_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-xD-S0P4tZhyj_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ctt6H6VZzmdw_color);
  font-size: var(--mixin-ctt6H6VZzmdw_font-size);
  font-weight: var(--mixin-ctt6H6VZzmdw_font-weight);
  line-height: var(--mixin-ctt6H6VZzmdw_line-height);
  text-align: var(--mixin-ctt6H6VZzmdw_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Wu7Sxeq_yQMx_color);
  font-size: var(--mixin-Wu7Sxeq_yQMx_font-size);
  font-weight: var(--mixin-Wu7Sxeq_yQMx_font-weight);
  line-height: var(--mixin-Wu7Sxeq_yQMx_line-height);
  font-family: var(--mixin-Wu7Sxeq_yQMx_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-djDvFlzgwDgL_font-family);
  border-radius: var(--mixin-djDvFlzgwDgL_border-top-left-radius)
    var(--mixin-djDvFlzgwDgL_border-top-right-radius)
    var(--mixin-djDvFlzgwDgL_border-bottom-right-radius)
    var(--mixin-djDvFlzgwDgL_border-bottom-left-radius);
  padding: var(--mixin-djDvFlzgwDgL_padding-top)
    var(--mixin-djDvFlzgwDgL_padding-right)
    var(--mixin-djDvFlzgwDgL_padding-bottom)
    var(--mixin-djDvFlzgwDgL_padding-left);
  border-top: var(--mixin-djDvFlzgwDgL_border-top-width)
    var(--mixin-djDvFlzgwDgL_border-top-style)
    var(--mixin-djDvFlzgwDgL_border-top-color);
  border-right: var(--mixin-djDvFlzgwDgL_border-right-width)
    var(--mixin-djDvFlzgwDgL_border-right-style)
    var(--mixin-djDvFlzgwDgL_border-right-color);
  border-bottom: var(--mixin-djDvFlzgwDgL_border-bottom-width)
    var(--mixin-djDvFlzgwDgL_border-bottom-style)
    var(--mixin-djDvFlzgwDgL_border-bottom-color);
  border-left: var(--mixin-djDvFlzgwDgL_border-left-width)
    var(--mixin-djDvFlzgwDgL_border-left-style)
    var(--mixin-djDvFlzgwDgL_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-z4e8mR65l2Uv_color);
  padding-left: var(--mixin-z4e8mR65l2Uv_padding-left);
  border-left: var(--mixin-z4e8mR65l2Uv_border-left-width)
    var(--mixin-z4e8mR65l2Uv_border-left-style)
    var(--mixin-z4e8mR65l2Uv_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JKsFl9wXrUTK_font-family);
  border-radius: var(--mixin-JKsFl9wXrUTK_border-top-left-radius)
    var(--mixin-JKsFl9wXrUTK_border-top-right-radius)
    var(--mixin-JKsFl9wXrUTK_border-bottom-right-radius)
    var(--mixin-JKsFl9wXrUTK_border-bottom-left-radius);
  padding: var(--mixin-JKsFl9wXrUTK_padding-top)
    var(--mixin-JKsFl9wXrUTK_padding-right)
    var(--mixin-JKsFl9wXrUTK_padding-bottom)
    var(--mixin-JKsFl9wXrUTK_padding-left);
  border-top: var(--mixin-JKsFl9wXrUTK_border-top-width)
    var(--mixin-JKsFl9wXrUTK_border-top-style)
    var(--mixin-JKsFl9wXrUTK_border-top-color);
  border-right: var(--mixin-JKsFl9wXrUTK_border-right-width)
    var(--mixin-JKsFl9wXrUTK_border-right-style)
    var(--mixin-JKsFl9wXrUTK_border-right-color);
  border-bottom: var(--mixin-JKsFl9wXrUTK_border-bottom-width)
    var(--mixin-JKsFl9wXrUTK_border-bottom-style)
    var(--mixin-JKsFl9wXrUTK_border-bottom-color);
  border-left: var(--mixin-JKsFl9wXrUTK_border-left-width)
    var(--mixin-JKsFl9wXrUTK_border-left-style)
    var(--mixin-JKsFl9wXrUTK_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-hliuTKAYVh4a_display);
  flex-direction: var(--mixin-hliuTKAYVh4a_flex-direction);
  align-items: var(--mixin-hliuTKAYVh4a_align-items);
  justify-content: var(--mixin-hliuTKAYVh4a_justify-content);
  list-style-position: var(--mixin-hliuTKAYVh4a_list-style-position);
  padding-left: var(--mixin-hliuTKAYVh4a_padding-left);
  position: var(--mixin-hliuTKAYVh4a_position);
  list-style-type: var(--mixin-hliuTKAYVh4a_list-style-type);
  column-gap: var(--mixin-hliuTKAYVh4a_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-p3OEVGhp09Dy_display);
  flex-direction: var(--mixin-p3OEVGhp09Dy_flex-direction);
  align-items: var(--mixin-p3OEVGhp09Dy_align-items);
  justify-content: var(--mixin-p3OEVGhp09Dy_justify-content);
  list-style-position: var(--mixin-p3OEVGhp09Dy_list-style-position);
  padding-left: var(--mixin-p3OEVGhp09Dy_padding-left);
  position: var(--mixin-p3OEVGhp09Dy_position);
  list-style-type: var(--mixin-p3OEVGhp09Dy_list-style-type);
  column-gap: var(--mixin-p3OEVGhp09Dy_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-MpJ-Hi4NgLYf_color);
  font-size: var(--mixin-MpJ-Hi4NgLYf_font-size);
  font-weight: var(--mixin-MpJ-Hi4NgLYf_font-weight);
  line-height: var(--mixin-MpJ-Hi4NgLYf_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-pdCXRhFUDeus_color);
  font-size: var(--mixin-pdCXRhFUDeus_font-size);
  font-weight: var(--mixin-pdCXRhFUDeus_font-weight);
  line-height: var(--mixin-pdCXRhFUDeus_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-5X7fLNf4zn_L_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-tl_MUM7MTeyE_color);
  font-weight: var(--mixin-tl_MUM7MTeyE_font-weight);
  font-family: var(--mixin-tl_MUM7MTeyE_font-family);
  font-size: var(--mixin-tl_MUM7MTeyE_font-size);
  line-height: var(--mixin-tl_MUM7MTeyE_line-height);
  letter-spacing: var(--mixin-tl_MUM7MTeyE_letter-spacing);
  display: var(--mixin-tl_MUM7MTeyE_display);
  flex-direction: var(--mixin-tl_MUM7MTeyE_flex-direction);
  justify-content: var(--mixin-tl_MUM7MTeyE_justify-content);
  align-items: var(--mixin-tl_MUM7MTeyE_align-items);
  text-align: var(--mixin-tl_MUM7MTeyE_text-align);
  row-gap: var(--mixin-tl_MUM7MTeyE_row-gap);
}
