.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.globalShell:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__p1Hzm {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-TOYeqOh-Zbs-);
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.section__nnDJr:global(.__wab_instance) {
  max-width: 100%;
}
.hero:global(.__wab_instance) {
  max-width: 100%;
}
.text__tHgrn {
  text-align: center;
}
.text___05OB {
  text-align: center;
}
.hypernovaButton__dp7Ho:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.freeBox__fksUu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 0px;
}
.text___6GnXd {
  animation: none;
}
.svg__q6NXt {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: #ffffff;
  height: 1em;
}
.hypernovaButton__tHoCa:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__uw5Ey {
  animation: none;
}
.img__iJ0M7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  transform: translate3d(0px, 25%, 0px);
  position: absolute;
  left: 0px;
  top: -646px;
  min-width: 0;
}
.img__iJ0M7 > picture > img {
  object-fit: cover;
}
.img__vg6Am {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__vg6Am > picture > img {
  object-fit: cover;
}
.section__roOm:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 200px;
}
.freeBox__pGddY {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6Vvf0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.h2__yquAu {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  padding: 0px;
}
.text__n9YAa {
  text-align: left;
}
.text__biqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-lYDAva1W68mD);
  line-height: 1.1;
  text-align: left;
  min-width: 0;
}
.blurbCard:global(.__wab_instance) {
  position: relative;
  margin-top: 50px;
}
.img__naFbx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  max-height: 1400px;
  align-self: flex-end;
  transform: translate3d(0%, -10%, 0px);
}
.img__naFbx > picture > img {
  object-fit: cover;
}
.img__htF7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__htF7 > picture > img {
  object-fit: cover;
}
.section__bJgGu:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__bb5S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-Jvcsq00OZLEu);
  flex-wrap: wrap;
  row-gap: var(--token-Jvcsq00OZLEu);
  align-content: flex-start;
  min-width: 0;
}
.infoCard___3FJpd:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__uFgh {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text___8YwsK {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uyBr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.infoCard__jp30O:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__xF44N {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__aqQut {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bmtp9 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.infoCard__nnMzs:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__lSs08 {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__zXdom {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__beAar {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uoZy8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-Jvcsq00OZLEu);
  flex-wrap: wrap;
  row-gap: var(--token-Jvcsq00OZLEu);
  align-content: flex-start;
  min-width: 0;
}
.infoCard__xWo62:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg___1GMo {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__kgIq {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zj4JY {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.infoCard__hc7B0:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__g7Gst {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__bEYbf {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fuUl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.infoCard__kgarT:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__zUSb {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__c9A8 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ilGRf {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img___3Alx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img___3Alx > picture > img {
  object-fit: cover;
}
.img__gDqai {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__gDqai > picture > img {
  object-fit: cover;
}
.section__kfPr9:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fsCq {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-rhvrG6H0n5Kr);
  max-width: 646px;
  align-self: flex-end;
  padding: 0px;
}
.h2__fWl6F {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rhvrG6H0n5Kr);
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__zqg8S {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__yrU9C {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.img__tOw9G {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__tOw9G > picture > img {
  object-fit: cover;
}
.img__zXe8X {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__zXe8X > picture > img {
  object-fit: cover;
}
.section__z601V:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 150px;
}
.freeBox__asAxQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-Jvcsq00OZLEu);
  flex-wrap: wrap;
  row-gap: var(--token-Jvcsq00OZLEu);
  min-width: 0;
}
.infoCard__p6Ol8:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__wT4TX {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text__aJwrL {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-48LhuJ0QgSHJ);
  font-size: var(--token-RirudxurhHrN);
  min-width: 0;
}
.text__seQtY {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.infoCard__hHvBv:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__is9Y {
  animation: none;
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  max-height: none;
  min-width: 0;
  min-height: 0;
}
.text___3T7Un {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-48LhuJ0QgSHJ);
  font-size: var(--token-RirudxurhHrN);
  min-width: 0;
}
.text__gYoe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.img__wy06N {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__wy06N > picture > img {
  object-fit: cover;
}
.img__dFZs4 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img__dFZs4 > picture > img {
  object-fit: cover;
}
.footer__mgTow:global(.__wab_instance) {
  animation: none;
  z-index: auto;
  position: relative;
  left: auto;
  top: auto;
  height: 999px;
  bottom: auto;
}
.text__httCp {
  animation: none;
}
